/*
Theme Name: LimoKing Child
Theme URI: http://demo.goodlayers.com/limoking
Description: Limo King Wordpress Theme
Author: Goodlayers
Author URI: http://www.goodlayers.com
Version: 1.05
License: 
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, yellow, two-columns, fluid-layout, custom-background, custom-colors, featured-images, theme-options
Text Domain: limoking
Template: limoking-v1-05

*/
@import url("../limoking-v1-05/style.css");
@font-face {
   font-family: 'EdwardianScriptITC';
   src: url('./fonts/EdwardianScriptITC.woff2') format('woff2'),
        url('./fonts/EdwardianScriptITC.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}
.limoking-modern-car .car-thumbnail {
    margin-bottom: 0;
}
.limoking-modern-car .car-title{
	line-height: 3;
	background-color: #ccc2a6;
}
.limoking-modern-car .car-title a{
	color: #ffffff;
}
#contact-us-wrapper{
   background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}
#contact-us-wrapper .limoking-item-title{
	color: #ffffff;
}
select.wpcf7-select {
    max-width: 479px;
}
.wpcf7 input {
    padding: 16px 19px;
    width: 100%;
    font-size: 15px;
    border: 0px;	
}
.wpcf7 input[type="submit"]{
	font-family: Lato;
	background-color: #ccc2a6;
	width: auto;
}
.footer-wrapper{
	text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
}
.footer-metro-icon{
	width: 65%;
}
.footer-isbao-icon{
	width: 25%;
	padding-left: 10px;
}
#footer-widget-4 .widget{
	margin-left:0!important;
	margin-right:0!important;
}
.footer__list{
	list-style: none;
	margin: 0;
	position: relative;
}
html[lang="zh-hant"] .copyright-left span,html[lang="zh-hans"] .copyright-left span{
display:none;
}
.footer__list-item a:before{
	content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 0px;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -1px;	
}
.footer__list-item a:hover{
	color:#b49c5b!important;
	text-shadow: none;
}
.footer__list-item a:before{
	content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 0px;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -1px;	
}
.footer__list-item.parent:hover a:before{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.footer__list-item{
	padding-left: 25px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-color: #363636;
}
.footer__list-item ul{
	display:none;
	list-style:none;
	margin-left:20px;
	-webkit-transition: all 0.5s linear; /* Safari */
	transition: all 0.5s linear;
	opacity: 0;
	height: 0;
	margin-bottom: 0;
}
.footer__list-item ul li a:before{
	content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 20px;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -1px;	
    opacity: 0;
}
.footer__list-item:hover > ul{
	display:block;
	opacity: 1;
	height: auto;
}
.footer__list-item ul li a:before{
	opacity: 0;
}
.footer__list-item:hover > ul li a:before{
	opacity: 1;
	-webkit-transform: rotate(0deg)!important;
    -moz-transform: rotate(0deg)!important;
    -o-transform: rotate(0deg)!important;
    -ms-transform: rotate(0deg)!important;
    transform: rotate(0deg)!important;
}
.footer_linkedin{
    background-color: #ccc2a6;
    color: #736340;
    padding: 3px;
}
.footer-wrapper {
	position: relative;
}

/* 11012017 */
.limoking-header-wrapper.header-style-5-wrapper .limoking-logo-right-text {
  margin: 0 130px 0 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.wpml-ls-legacy-list-horizontal {
  float: right;
}

.limoking-header-wrapper.header-style-5-wrapper .limoking-header-inner {
  background-color: #ccc3a6 !important;
  min-height: 113px;
  padding-top: 10px;
}
.limoking-header-inner, 
.limoking-header-wrapper.header-style-3-wrapper, 
.limoking-header-wrapper.header-style-2-wrapper {
  background-color: #ccc3a6 !important;
}
header .limoking-logo {
  margin-top: 8px;
}
header .limoking-navigation-wrapper {
  margin-top: 31px;
  margin-right: 0;
}
.menu-item-home{
	clear: both;
	border-top: 1px solid #c8bfad;
}
.limoking-navigation-wrapper .limoking-main-menu > li > a {
  padding: 0 0 33px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  cursor:pointer;
}
.limoking-navigation-wrapper .limoking-main-menu > li.wpml-ls-item{
	display:none;
}
.wpml-ls-legacy-list-horizontal {
  padding: 0;
  margin-right: -10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.wpml-ls-slot-shortcode_actions a {
  color: #fff;
}
.limoking-fixed-header .limoking-logo-right-wrapper {
  float: right;
  margin-top: 23px;
}
.limoking-fixed-header .limoking-navigation-wrapper {
  margin-top: 4px;
}
.footer-wrapper {
  background-color: #ccc3a6 !important;
}
.footer-wrapper .footer_linkedin {
  background-color: #faf9ff;
  color: #cdc8a7;
}
.sf-mega-section-inner > ul > li {
  margin-bottom: 0;
  padding-left: 12px;
  position: relative;
}
.sf-mega-section-inner > ul > li::before {
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  height: 10px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  text-align: center;
  width: 10px;
  color: #cec4af;
}

.sf-mega-section-inner > ul > li > a {
  padding: 0 !important;
}
.sf-menu li a.sf-with-ul::after {
  content: none !important;
}
.sf-mega-section-inner > ul.sub-menu ul {
  display: block !important;
  list-style: outside none none;
  margin: 5px 0 0 -12px;
  width: 100%;
  opacity:1 !important;
}
.sf-mega-section-inner > ul.sub-menu > li {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding-left: 0;
}
.sf-mega-section.first-column  .sf-mega-section-inner > ul > li::before {
  color: #cec4af;
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  height: 10px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  text-align: center;
  width: 10px;
}
.sf-mega-section-inner > ul > li::before {
  content: none;
}
.sf-mega-section.first-column .sf-mega-section-inner > ul.sub-menu > li {
  width: 100%;
  padding-left: 12px;
}
.sf-mega-section-inner > ul.sub-menu > li ul > li::before {
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  height: 10px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  text-align: center;
  width: 10px;
  color: #cec4af;
}
.sf-mega-section-inner > ul.sub-menu > li ul > li {
  padding-left: 24px;
}
.sf-mega-section-inner > ul.sub-menu ul ul li {
  margin-bottom: 0;
  padding-left: 12px;
  position: relative;
}
.sf-mega-section-inner > ul.sub-menu ul ul li::before {
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  height: 10px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  text-align: center;
  width: 10px;
  color: #cec4af;
}
.sf-mega-section-inner > ul.sub-menu ul ul {
  margin: 0;
}
.limoking-main-menu .sf-mega-section-inner > ul > li > a:hover,
.limoking-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a {
  background-color: inherit !important;
}
.sf-mega-section-inner > a{
	padding-left: 0px!important;
}
.limoking-background-image{
	background-size:cover;
}
.limoking-item-title-wrapper.limoking-large .limoking-item-title {
  line-height: 52px;
  margin: 0 auto;
  max-width: 940px;
  font-size: 48px;
  font-weight: 500;
}
html[lang="en-US"] .limoking-item-title-wrapper.limoking-large .limoking-item-title {
  font-size: 70px;
  font-family: 'Monotype Corsiva';
  text-transform: capitalize;
}
html[lang="en-US"] .limoking-page-title-wrapper .limoking-page-title {
  font-size: 70px;
  font-family: 'Monotype Corsiva';
  text-transform: capitalize;
}
.limoking-parallax-wrapper .limoking-title-item, .limoking-parallax-wrapper .limoking-title-item h3{
	color:#fff;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.limoking-parallax-wrapper .limoking-title-item, .limoking-parallax-wrapper .limoking-title-item .limoking-item-title-caption{ 
font-size: 28px; 
}
.limoking-page-title-wrapper{
    padding: 250px 0px 120px!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    url(http: //ec2-54-255-173-252.ap-southeast-1.compute.amazonaws.com/metrojet/wp-content/themes/limo-king-v1-05-child/images/page-title-press.jpg);
    background-image: url(images/page-title-press.jpg);
}
.archive.category .limoking-page-title-wrapper{
    background-image: url(http://ec2-54-255-173-252.ap-southeast-1.compute.amazonaws.com/metrojet/wp-content/uploads/2017/02/page-title-press-center.jpg);
}
.limoking-gallery-item.limoking-item .gallery-item img {
  height: 77px;
  width: 102px;
}
.limoking-nav-title .limoking-flex-prev {
  float: left;
  margin-top: -29px;
  position: relative;
}
.limoking-nav-title .limoking-flex-next {
  float: right;
  margin-top: -29px;
  position: relative;
}
.limoking-item-title-center-divider {
  width: 370px;
}
.limoking-item-title-wrapper.limoking-center-divider.limoking-small .limoking-nav-title, 
.limoking-item-title-wrapper.limoking-center-divider.limoking-medium .limoking-nav-title {
  margin-top: 0;
}
.wpcf7 input[type="text"], 
.wpcf7 input[type="email"], 
.wpcf7 input[type="date"], 
.wpcf7 input[type="password"], 
.wpcf7 textarea,
.wpcf7 input {
  border: 0 none;
  font-size: 15px;
  padding: 7px 15px;
  width: 83%;
}
select.wpcf7-select {
  border: medium none;
  height: 38px;
  padding: 7px 9px;
  width: 92%;
  font-size: 15px;
  color: #666;
}
.wpcf7 span.wpcf7-form-control-wrap {
  display: block;
  margin-top: 0;
  padding-right: 0;
}
.wpcf7 span.wpcf7-form-control-wrap {
  margin-top: 0;
  margin-bottom: 10px;
}
.wpcf7 br{
	display:none;
}
textarea.wpcf7-textarea {
  height: 66px;
}
.wpcf7 input[type="submit"] {
  padding: 10px 26px;
}
#about-gallery .limoking-frame img {
  height: 147px;
}
.limoking-item {
  margin: 0 8px;
}
.limoking-item-title-wrapper.limoking-small .limoking-item-title {
  color: #fff;
  margin-top: 60px;
}
.archive .limoking-page-title {
  text-transform: uppercase;
}
table tr th {
  background-color: #c8bb99 !important;
}
.limoking-blog-grid .excerpt-read-more {
  background: none repeat scroll 0 0;
  color: #ac9046 !important;
  font-family: "Hind";
  font-size: 15px;
  padding: 0;
}
.blog-date .icon_clock_alt {
  display: none;
}
.post-gallery.flexslider {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.limoking-page-title-wrapper .limoking-page-title {
  font-size: 48px;
  line-height: 60px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.limoking-page-title-wrapper .limoking-page-title-container {
    max-width: 900px;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea,
input {
  background-color: #ebebeb !important;
}
#home-form input[type="text"], 
#home-form input[type="email"], 
#home-form input[type="password"], 
#home-form textarea,
#home-form input {
  background-color: #ffffff !important;
}
select.wpcf7-select {
  background: #ebebeb none repeat scroll 0 0;
}
#home-form select.wpcf7-select {
  background: #ffffff none repeat scroll 0 0;
  font-family: "Hind";
  font-size: 15px;
  color: #666666;
}
.wpcf7 input[type="submit"], #home-form .wpcf7 input[type="submit"] {
  background-color: #ccc2a6 !important;
}
#safety_content strong {
  color: #b49c5c;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}
#safety-form input, #safety-form textarea {
  margin-bottom: 5px;
}
#safety_content {
  margin-bottom: 50px;
}
#camo-form textarea,
#camo-form input {
  background-color: #ffffff !important;
}
#camo-form select.wpcf7-select {
  background: #ffffff none repeat scroll 0 0;
  font-family: "Hind";
  font-size: 15px;
  color: #666;
}
#camo-form input, #camo-form textarea {
  margin-bottom: 5px;
}
#camo-form .wpcf7 input[type="submit"] {
  background-color: #ccc2a6 !important;
}
#camo-services {
  margin-bottom: 50px;
  padding: 15px 50px;
}
#camo-services > ul {
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 0 2%;
  vertical-align: top;
  width: 45%;
}
#camo-services > ul li {
  background: url("./images/arrow.png") no-repeat scroll left 2px;
  margin-bottom: 3px;
  padding-left: 25px;
}
#camo-facilities {
  border: 1px solid #bdbfb1;
  margin-bottom: 50px;
  padding: 20px 50px;
}
#camo-facilities > ul {
  display: inline-block;
  margin: 0;
  padding: 0 4%;
  vertical-align: top;
  width: 41%;
}
.ms-layer {
  position: absolute !important;
  text-align: center;
  top: 40% !important;
  width: 100%;
  z-index: 99999;
}
.ms-layer h3 {
  color:#fff;
  font-family: 'EdwardianScriptITC';
  font-size: 50px;
}
#am-content {
  font-size: 18px;
  margin-bottom: 50px;
}
#ceo-content {
  font-size: 18px;
  margin-bottom: 50px;
}
#ceo-content strong {
  font-size: 24px;
  color: #b49c5b;
  font-weight: 400;
}
#contact-info {
  font-size: 18px;
  margin-bottom: 50px;
}
#contact-info > p {
  margin-bottom: 10px;
}
#contact-info strong {
  font-weight: normal;
  padding-left: 21px;
}
#exclusive-tabs {
  margin-bottom: 50px;
  border-top: 1px solid #ccc2a6;
  padding-top: 10px;
  float: left;
  width: 100%;
}
.acc-left {
  float: left;
  width: 70%;
  margin-bottom: 30px;
}
.acc-right {
  float: right;
  text-align: right;
  width: 25%;
}
.acc-left > h4 {
  color: #b49c5b;
  font-size: 22px;
  text-transform: uppercase;
}
.acc-left strong {
  color: #b49c5b;
}
.acc-left > ul {
  margin-left: 15px;
}
.acc-gallery .ms-thumb {
  background: #ccc2a6 none repeat scroll 0 0;
  height: 77% !important;
  margin: 5px 5px 0 !important;
  padding: 5%;
  width: 85% !important;
}
#exclusive-content {
  font-size: 18px;
  margin-bottom: 73px;
}
.limoking-page-caption {
  color: #fff !important;
}
#service_description {
  font-size: 18px;
}
#limoking-menu-search input[type="text"]{
  margin: 0px;
  background: transparent!important;
  padding: 20px 23px;
  color: #fff!important;
}
#home-box {
  margin-bottom: 50px;
}
#home-box img {
  width: 100%;
  margin: 0;
  height: auto;
}
#home-box > p {
  margin: 0;
}
#home-box h3 {
  background-color: #ccc2a6;
  line-height: 3;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
#home-box h3 a {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#about-download{
	border-top:1px solid #b49c5b;
	border-bottom:1px solid #b49c5b;
}
#about-download .limoking-content-item h4{
	color:#b49c5b;
	margin-top:30px;
}
html[lang="zh-hant"] #about-download .limoking-content-item h4,html[lang="zh-hans"] #about-download .limoking-content-item h4{
	margin-top:15px;
}
#about-download p{
	margin:0;
}
#about-download a{
	background-color:#edeae0;
	display:block;
	padding: 20px 5px;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
}
.location_capability,.location_capability_title{display:none;}

.schat-shortcode-chat-btn{position:fixed;
    top: inherit;
    bottom: 20px;
    left: inherit;
    right: 20px;background-color: #c4b17f;
    font-size: 16px;
    font-family: inherit;
    font-weight: normal;
    padding: 0 40px 0 20px;
    height: 37px;
    line-height: 36px;
    -webkit-transition: background 500ms;
    transition: background 500ms;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
	z-index:9999;
    }

.schat-shortcode-chat-btn:before {
  font-family: "schat" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  	content: "\68";
	position: absolute;
    top: 0;
    right: 12px;
    height: 37px;
    line-height: 37px;
    margin-left: .2em;
    margin-right: .2em;
}

#osd-blog-search{
   position: relative;
}
#osd-blog-search input[type="text"]{
	letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
    width: 90%;
    padding: 15px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    border-color: #ebebeb;
}
#osd-blog-search #osd-search-submit{
	position: absolute;
    top: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -8px 0px 0px;
    width: 16px;
    height: 16px;
    padding: 0px;
    text-indent: -99999px;
    background-color: transparent !important;
    background-size: 16px 16px;
    background-image: url(http://ec2-54-255-173-252.ap-southeast-1.compute.amazonaws.com/metrojet/wp-content/themes/limoking-v1-05/images/dark/icon-search.png);
    border: none;
}
#my-calendar th{
	width:14.2857%
}
#my-calendar td{
	padding:0
}
#my-calendar span{
	display: block;
	padding: 8px 0;
	width: 100% !important;
}
#my-calendar a {
	background: none repeat scroll 0 0 #b49c5c;
	color: #FFFFFF;
	display: block;
	padding: 8px 0;
	width: 100% !important;
}

		
#today{
	background: none repeat scroll 0 0 #555;
	color: #FFFFFF;
}
.blockUI h4{margin-top:20px;}



@media screen and (max-width: 1099px) {
body.home #content-section-1 .limoking-full-size-wrapper{
	padding-top:0!important;
}
}
#limoking-menu-search-button {
  cursor: pointer;
  margin: -2px 0 0 0;
  max-width: none;
}
#limoking-menu-search-button img{
  cursor: pointer;
  float: left;
  margin: 5px 5px 0 22px;
  max-width: 15px;
}
.sp-previous-thumbnail-arrow::before, .sp-previous-thumbnail-arrow::after, .sp-next-thumbnail-arrow::before, .sp-next-thumbnail-arrow::after {
  background-color: #000 !important;
}
.slider-pro .sp-thumbnail-container {
  border: 4px solid #e5e5e5 !important;
}
.slider-pro p.sp-layer { top: inherit !important; }
.sp-layer {
    bottom: auto!important;
    margin: 0!important;
    width: 100%!important;
    max-width: 100%!important;
}
div.wpcf7-response-output{
    position: fixed;
    z-index: 99999;
    top: 30%;
    left: 50%;
    width: 300px;
    margin-left: -170px;
    text-align: center;
    padding: 40px 20px 20px;
    background: #ccc3a6;
    border-radius: 5px;
    border: 1px solid #7f7866;
}
.hide-popup{
	display:none;
    position: fixed;
    z-index: 999999;
    top: 30%;
    left: 50%;
    margin-top: 32px;
    margin-left: 150px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.wpcf7-form.invalid .hide-popup,.wpcf7-form.sent .hide-popup{
	display:block;
}
.wpcf7-form.invalid .hide-popup.hide,.wpcf7-form.sent .hide-popup.hide{
	display:none;
}


/*Chinese Font*/
html[lang="zh-hant"] div,html[lang="zh-hant"] a,html[lang="zh-hant"] input,html[lang="zh-hant"] p,#language a, html[lang="zh-hant"] .box-heading a, html[lang="zh-hant"] h1,html[lang="zh-hant"] h2,html[lang="zh-hant"] h3,html[lang="zh-hant"] h4,html[lang="zh-hant"] h5,html[lang="zh-hant"] h6,html[lang="zh-hant"] li,html[lang="zh-hant"] .limoking-navigation, html[lang="zh-hant"] select,html[lang="zh-hant"] textarea,
html[lang="zh-hans"] div,html[lang="zh-hans"] a,html[lang="zh-hans"] input,html[lang="zh-hans"] p,
html[lang="zh-hans"] .box-heading a, html[lang="zh-hans"] h1,html[lang="zh-hans"] h2,html[lang="zh-hans"] h3,html[lang="zh-hans"] h4,html[lang="zh-hans"] h5,html[lang="zh-hans"] h6,html[lang="zh-hans"] h6,html[lang="zh-hans"]  li,html[lang="zh-hans"] .limoking-navigation, html[lang="zh-hans"] select,html[lang="zh-hans"] textarea
{font-family: "Microsoft JhengHei",Arial,sans-serif!important;}

html[lang="en-US"] .back-cn{display:none!important;}
html[lang="zh-hant"] .back-en,html[lang="zh-hans"] .back-en{display:none!important;}


/* 17032017 start */
#air-charter-con strong {
  font-size: 22px;
  color: #b49c5b;
  text-transform: uppercase;
}
#air-charter-con ul {
  max-width: 685px;
  margin: 0 auto 30px;
  padding-left: 100px;
}
#air-charter-con li {
  display: inline-block;
  width: 49%;
}
#charter-tab a {
  padding: 10px 20px 5px;
  background: #ddd;
  text-transform: uppercase;
  font-size: 22px;
}
.charter-ul ul {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 15px 0;
  padding-left: 14px;
}
.charter-ul li:first-child {
  list-style: none;
  text-transform: uppercase;
  font-size: 17px;
  margin-left: -14px;
  color: #b49c5b;
}
.charter-ul li:first-child strong {
  font-weight: normal;
}
#charter-tab {
  margin-bottom: 70px;
}
.code-number .wpcf7-form-control-wrap.country-code {
  width: 27%;
  float: left;
  margin-right: 3%;
}
.code-number .wpcf7-form-control-wrap.your-phone {
  width: 64%;
  float: left;
}
.from-time, .to-time {
  float: left;
  width: 100%;
}
.from-time span, .to-time span {
  float: left;
  width: 20%;
}
.from-time span:first-child, .to-time span:first-child {
  width: 8%;
  margin-right: 10px;
  color: #fff;
  line-height: 33px;
}
#charter-con p {
  float: left;
  width: 100%;
  margin-bottom:0;
}

#career-content {
  margin-bottom: 60px;
}
#career-content strong {
  font-size: 28px;
  color: #b49c5b;
}
#career-tab {
  margin-bottom: 65px;
}
#career-tab hr{
  color: #b49c5b;
  background-color:#b49c5b;
  border-top: 0;
  margin-bottom: 20px;
}
#career-tab h3 {
  color: #b49c5b;
  font-size: 18px;
  text-transform: uppercase;
}
#career-tab strong {
  color: #b49c5b;
  font-size: 14px;
}
#career-tab ul {
  margin-left: 12px;
}
.limoking-logo-mobile-wrapper{
	display:none;
}
.mt-title{
	line-height: 46px;
}	
/* end 17032017 */
 /* Responsive site css */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.wpml-ls-legacy-list-horizontal {
  margin-right: 15px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.search-text {
  display: none;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
#limoking-responsive-navigation.dl-menuwrapper button{
  z-index: 9999999;
}
.responsive-lan{display:none;}
.limoking-main-mobile-menu > li.wpml-ls-item{
	width: 60px;
    float: left;
    border: none;
}
.dl-menuwrapper li a{text-transform: uppercase;}
.limoking-item-title-wrapper.limoking-medium .limoking-item-title{ font-size: 18px; line-height: 24px; }

.ms-layer h3 {
  font-size: 20px;
}
.limoking-accordion-item.style-1 .accordion-content {
  margin-left: 0;
}
.limoking-accordion-item.style-1 .accordion-content ul {
  margin-left: 15px;
}
.aircraft_reg_info .airctaft_loc_reg > li {
  width: 100% !important;
}
.limoking-item-title-wrapper .limoking-item-title {
     margin-left: 0px; 
     margin-right: 0px; 
}
.limoking-page-title-wrapper .limoking-page-title {
  font-size: 20px;
  line-height: 1.2;
}
.aircraft_info_top > span.mn_type_base {
  margin-bottom: 5px;
  margin-right: 5px;
}
#camo-services {
  padding: 15px 0;
}
#camo-services > ul, #camo-facilities > ul {
  width: 100%;
}
#camo-facilities {
  padding: 20px 25px;
}
.limoking-logo-inner img {
  max-width: 85%;
}
body .header-style-5-wrapper .limoking-logo {
  margin: 5px 0 !important;
}
.wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-horizontal {
  bottom: 75px;
  position: absolute;
  right: 0;
}
.aircraft-filter-form select.aircraft_filter_model{
	margin-left:0px!important;
	margin-top:10px;
}
.aircraft-filter-form .aircraft_filter_submit{
	margin-top:10px;
}
#limoking-responsive-navigation.dl-menuwrapper button:hover, 
#limoking-responsive-navigation.dl-menuwrapper button.dl-active, 
#limoking-responsive-navigation.dl-menuwrapper ul {
  background-color: #7f7866 !important;
}
.limoking-logo-right-text > span, .limoking-logo-right-text > a {
  font-size: 13px !important;
}
html[lang="zh-hant"] .limoking-logo-right-text > span, html[lang="zh-hant"] .limoking-logo-right-text > a, 
html[lang="zh-hans"] .limoking-logo-right-text > span,html[lang="zh-hans"] .limoking-logo-right-text > a
 {
  font-size: 12px !important;
}
body .limoking-header-wrapper.header-style-5-wrapper .limoking-logo-right-text {
  margin: 0;
  padding: 7px 0;
  text-align: center;
}
.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu {
  margin-top: 87px !important;
  width: 300px !important;
}
.dl-menuwrapper li {
  border-bottom: 1px solid #c8bfad;
}
.dl-menuwrapper li:last-child {
  border-bottom: medium none;
}
.limoking-item-title-wrapper.limoking-large .limoking-item-title {
  font-size: 20px!important;
  line-height: 1.2;
}
.wpml-ls-legacy-list-horizontal {
  margin-right: -10px;
}
.slider-pro .hide-small-screen {
  display: block !important;
}
.acc-left, .acc-right {
  width: 94%;
}
.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu {
  padding-bottom: 0px;
}
.responsive-lan {
  bottom: -385px;
  padding-bottom: 0;
  margin: 0 !important;
  float: left;
  opacity: 0;
  z-index: 99999;
  width: 175px;
}
.dl-menu.limoking-main-mobile-menu.dl-menuopen + .responsive-lan {
  opacity: 1;
  position: absolute;
}
.wpml-ls-legacy-list-horizontal {
  display: none;
}
.limoking-logo-mobile-wrapper{
	display:block;
	padding-bottom:15px;
	text-align:center;
}
.limoking-logo-mobile-wrapper .wpml-ls-legacy-list-horizontal,
.limoking-logo-mobile-wrapper .limoking-mobile-search{
	display:inline-block;
}
.limoking-logo-mobile-wrapper .wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-horizontal{
	position:static;
	bottom:auto;
	right:auto;
	float:none;
}
.limoking-logo-mobile-wrapper .limoking-mobile-search{
	margin-left:20px;
	max-width:150px;
}
.limoking-logo-mobile-wrapper .limoking-mobile-search input[type="text"]{
	background-image: url('/wp-content/themes/limoking-v1-05/images/magnifier-light.png')!important;
	background-position:95% center;
	background-repeat:no-repeat;
	background-size:auto 75%;
	background-color:transparent !important;
	border: 1px solid #fff;
	color:#fff;
	padding:3px 5px;
}
.menu-item.wpml-ls-slot-metrojet-menu{
	display:none;
}
.responsive-lan .wpml-ls-legacy-list-horizontal {
  padding: 0;
  margin-right: 0;
  float: left;
  position: relative;
  display: block;
}
.responsive-lan .wpml-ls-legacy-list-horizontal li {
  border: none;
}

.limoking-item-title-wrapper .limoking-item-title{
	margin-left:-60px;
	margin-right:-60px;
}
.limoking-tab-item.vertical > .tab-title-wrapper .tab-title{
	padding:3px !important;
}
.aircraft_by_type .aircraft_info_top{
	margin-left:-50px;
	margin-right:-50px;
}
.aircraft_info_top > span.mn_type_base{
	margin-right:20px !important;
}
.aircraft_by_type .limoking-tab-item.horizontal > .tab-title-wrapper .tab-title{
	display:block !important;
}
.limoking-tab-item.horizontal > .tab-content-wrapper{
	padding:5px 5px 0;
}
.aircraft_by_type .limoking-item{
	margin:0;
}
.mro_capability_list > li{
	vertical-align:top;
}
.aircraft_location.type-aircraft_location .limoking-content-item,
.location_facilities .limoking-tab-item{
	margin-left:-15px;
	margin-right:-15px;
}
.location_mro_facilities{
	margin-top:50px !important;
}
.location_mro_facilities::before{
	height:50px !important;
	top:-50px !important;
}
.limoking-page-title-wrapper{
    padding: 50px 0px 50px!important;
}
.limoking-background-image{
    padding: 50px 0px 50px!important;
}
html[lang="en-US"] .limoking-page-title-wrapper .limoking-page-title {
  font-size: 20px;
}
#air-charter-con strong {
  font-size: 18px;
}
#air-charter-con ul {
  padding-left: 0;
}
#air-charter-con li {
  width: 100%;
  display: block;
}
.charter-ul ul {
  width: 100%;
}
.from-time span:first-child, .to-time span:first-child {
  width: 100%;
  margin-right: 0;
  margin-top: -10px;
}
.from-time span, .to-time span {
  width: 24%;
}

}
