/* CSS Document */
@font-face {
    font-family: 'BonvenoCFLight';
    src: url('../fonts/bonvenocf-light-webfont.eot');
    src: url('../fonts/bonvenocf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bonvenocf-light-webfont.woff') format('woff'),
         url('../fonts/bonvenocf-light-webfont.ttf') format('truetype'),
         url('../fonts/bonvenocf-light-webfont.svg#BonvenoCFLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoRegular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'UniversLTStd45LightRegular';
    src: url('../fonts/universltstd-light-webfont.eot');
    src: url('../fonts/universltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/universltstd-light-webfont.woff') format('woff'),
         url('../fonts/universltstd-light-webfont.ttf') format('truetype'),
         url('../fonts/universltstd-light-webfont.svg#UniversLTStd45LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
	/*background:#f6f1e5 url(../images/body_bg.jpg) left top repeat-x ;	*/
	font-family: Tahoma, Geneva, sans-serif;
	color:#58595b;
	font-size:14px;
	line-height:1.5;
	-webkit-text-size-adjust:none;
	}
body {
	background:#f6f1e5 url(../images/background.jpg) 0 0 ;
	font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif;
	color:#58595b;
	font-size:14px;
	line-height:1.5;
	}
	
#language_zh_cn{
	font-family:/*'Arial Unicode MS', */宋体, Simsun !important;
}

#language_zh_cn h1, #language_zh_cn h2, #language_zh_cn h3, #language_zh_cn h4, #language_zh_cn h5, #language_zh_cn h6{
	font-family:/*'Arial Unicode MS', */宋体, Simsun !important;
}

#language_zh_cn  div.rightColInner ul.operations li a {
	font-family:/*'Arial Unicode MS', */宋体, Simsun !important;
}



*{ margin:0; padding:0;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'BonvenoCFLight';
	color:#406678;
	display:block;
	font-weight:normal;
	
	}
h1 { font-size:18px; line-height:24px;}
h2 { font-size:17px; line-height:23px; text-transform:uppercase; margin-bottom:10px;}
h3 { font-size:13px; line-height:22px; text-transform:uppercase; }
h4 { font-size:15px; line-height:21px;}
h5 { font-size:14px; line-height:20px;}
h6 { font-size:14px; line-height:18px;}
img { border:0px;}
input, select, textarea {
	font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	margin:0;
	padding:0px;
	border:1px solid #d1d1d1;
}
label{padding-left:10px; display:inline-block; /*font-size:14px; color:#000; */}
p{ margin:15px 0; font-size:14px; text-align:justify; }
p:first-child{ margin-top:0;}
ul{ margin:0 0 0 15px; padding:0 0 0 0px;}
ol{ margin:0 0 0 20px; padding:0 0 0 0px;}
input,
table td.right textarea{
	padding:5px;
	border:0;
}
.bold{
	font-weight:700;
	font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif;
	margin-bottom:0px;
	font-size:14px;
}
.marginTop{
	margin-top:0px;
	}

a:visited, a:link {text-decoration:none; color:#5e96b0;}
a:active, a:hover { text-decoration:underline;}
a:focus { outline:none;}
.clear {
	height:1px;
	line-height:1px;
	font-size:1px;
	display:block;
	clear:both;
}
.floatLeft{ float:left;}
.floatRight{ float:right;}

table
{
border-collapse:collapse;
}
header#top{
	width:974px;
	margin:0 auto;
	height:77px;
	position:relative;
	z-index:500;
}
img.logo{
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}
div.topLinks{
	font-family: UniversLTStd45LightRegular; /*'ExoRegular'*/
	width:794px;
	height:26px;
	padding-top:5px;
	float:right;
	font-size:12px;
}
div.topLinks .floatLeft {
	color:#808285;
	margin: 0;
}
div.topLinks li {
	padding:0 10px;
	float: left;
	cursor: pointer;
	position: relative;
	list-style: none;
}
div.topLinks li ul {
	display: none;
	position: absolute;
	*top: 20px;
	left: 0;
	margin: 0;
	list-style: none;
	background: #f6f1e5;
	width: 100%;
	padding-top: 5px;
}
div.topLinks li ul li {
	padding:0;
	float: none;
}
div.topLinks li ul li a {
	padding: 0 10px 5px 10px;
	display: block;
}
div.topLinks li:hover > ul {
	display: block;
}
div.topLinks a,
div.topLinks a:link,
div.topLinks a:visited{
	color:#808285;
}
div.topLinks a.current,
div.topLinks a.current:visited,
div.topLinks a.current:link{
	color:#406678;
}
div.topLinks .disabled:hover{
	text-decoration:none;
	cursor:default;
}
nav{
	height:47px;
	float:right;
	width:810px;
	text-transform:uppercase;
}
nav a,
nav a:link,
nav a:visited{
	display:block;
	float:left;
	background:url(../images/menu-right-bg.jpg) right center no-repeat;
	font-family: 'BonvenoCFLight';
	font-size:12px;
	line-height:46px;
	padding:0 28px;
	
}
nav a.disabled:hover{
	background:url(../images/menu-right-bg.jpg) right center no-repeat;
	color:#5E96B0;
	cursor:default;
}


* html nav a{ padding:0 15px !important }
.ie7 nav a{ padding:0 15px !important }
.ie8 nav a{ padding:0 15px !important }
nav a.last{
	background:none !important;
}
nav a:hover,nav a.visited{
	background:#5e96b0 !important;
	background-image:none;
	color:#fff;
	text-decoration:none;
}

nav a:hover {
	color: #fff;
}
.lightBoxButton{ display:block; height:31px; width:auto; overflow:hidden; line-height:31px; padding:0px 15px; background:url(../images/lightBoxButtonBg.png) repeat-x; float:left; margin-right:10px; color:#FFF!important; text-decoration:none;}
.lightBoxButton:hover{ text-decoration:none; color:#61b5d9!important;}
.leftCol ul{ margin-bottom:24px;}
.backTop{ font-weight:700; color:#58595b!important; float:right; margin-bottom:20px; font-size:10px;}
.leftCol td ul{ margin-bottom:0;}

section#banner{
	width:auto;
	max-width:1280px;
	height:506px;	
	margin:0 auto;
	position:relative;
	z-index:100;
}
section#banner a#next {
	position:absolute;
	z-index:100;
	/*right:40px;
	top:40%;*/
	top:-9999px;
	left:-9999px;
}
section#banner a#prev {
	position:absolute;
	z-index:100;
	/*left:40px;
	top:40%;*/
	top:-9999px;
	left:-9999px;
}
section#banner #caption{
	width:100%;
	margin:0 auto;
	background:url(../images/50p_1280_bg.png) bottom center repeat-y;
	position:absolute;
	bottom:40px;
	z-index:100;
}
section#banner #caption h1{
	font-size:44px;
	color:#A18643;
	text-transform:uppercase;
	line-height:50px;
	padding:18px 0;
}

section#bannerInner{
	width:auto;
	max-width:1280px;
	height:335px;
	margin:0 auto;
	position:relative;
}
section#bannerInner .caption{
	width:100%;
	margin:0 auto;
	background:url(../images/50p_1280_bg.png) bottom center repeat-y;
	position:absolute;
	bottom:0;
}
section#bannerInner .caption div.outer, section#banner #caption div.outer {
	width:974px;
	height:100%;
	margin:0 auto;
}
section#bannerInner .caption h1{
	font-size:28px;
	color:#A18643;
	text-transform:uppercase;
	line-height:40px;
	padding:18px 0;
}
section#homeBodyContent{
	width:974px;
	margin:20px auto;
}
section#homeBodyContent div.leftCol{
	width:637px;
	float:left;
}
#homeBodyContent p{}
#homeBodyContent p a{ color:#5e96b0; font-weight:700;}
section#homeBodyContent div.leftCol div.leftColWrap{
	background:url(../images/botton-right-bg.gif) right bottom no-repeat;
	border-bottom:1px solid #bcbec0;
	padding-bottom:30px;
	margin-bottom:20px;
	min-height:200px;
}
section#homeBodyContent div.leftCol input.searchText{
	font-family: UniversLTStd45LightRegular; /*'ExoRegular'*/
	color:#808285;
	padding-left:15px;
	width:125px;
	height:19px;
	border-right:0;
	vertical-align:top;
}
section#homeBodyContent div.leftCol input.searchSubmit{
	width:25px;
	height:23px;
	background:url(../images/search-button-bg.gif) left top no-repeat;
	border:0;
	outline:none;
	vertical-align:top;
}
section#homeBodyContent div.rightCol{
	width:267px;
	float:right;
	background:#f5eed3;
	padding:25px;
	min-height:90px;
}
section#homeBodyContent div.rightColInner{
	width:237px;
	float:right;
	background:#faf8f2;
	padding:25px;
	min-height:150px;
	border-top:8px solid #406678;
	padding:10px;
	margin-top:-20px;
	margin-bottom:10px;
}
section#homeBodyContent div.rightColInner h4{ border-bottom:1px solid #d1d3d4; padding:5px 0;}
section#homeBodyContent div.rightColInner h4 a.visited{color:#406678;}

div.rightColInner ul.operations li a { border-bottom:1px solid #d1d3d4; padding:5px 0; font-size:15px; line-height:21px; font-family:'BonvenoCFLight'; font-weight:normal; color:#406678; display:block; /*text-transform:uppercase;*/ }
div.rightColInner ul.operations ul li a { font-size:14px; line-height:18px; border:none; padding:0; color:#58595B; font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif;}
div.rightColInner ul.operations ul li a:hover { color:#5e96b0; }
div.rightColInner ul.operations ul ul li{
/*	margin-left:10px;	*/
}
div.rightColInner ul.operations li.active a{ color:#406678; }
div.rightColInner ul.operations li.active li a, div.rightColInner ul.operations li.active li li a{ color:#58595B; }

.rightColInner ul{
	list-style:none;
	margin-bottom:5px;
	/*min-height:180px;*/
	padding:0px;
	margin-left:0px;
}
.rightColInner ul li{
	margin-top:5px;
}
.rightColInner ul li ul{
	height:auto!important;
	list-style:none;
	min-height:10px;
	margin-top:10px;
}
.rightColInner ul li ul li{
	padding-left:20px;
	background:url(../images/bullet.jpg) no-repeat 5px 7px;
}
.rightColInner ul li ul li a{
	text-decoration:none;
	color:#58595b;
	text-transform:none;
	font-size:13px;
	}
.rightColInner ul ul ul{
	margin-top:0 !important;
}
/*.rightColInner ul li ul li a:hover,.rightColInner ul li ul li a.visited{ color:#5e96b0;}*/

.rightColInner ul li a{
	text-decoration:none;
	color:#58595b;
	text-transform: uppercase;
}
/*.rightColInner ul li a:hover,.rightColInner ul li a.visited{
	color:#406678;
}*/
.rightColInner h4 a:link,
.rightColInner h4 a:visited{
	color:#58595b;
}
.rightColInner h4 a:hover{color:#406678;text-decoration:none;}

.contactBox{ width:217px; height:auto; overflow:hidden; background:#fbf7e1; padding:10px; text-align: center; margin-top:100px;}
.contactBox h6, .contactBox p { text-align: center; }
.border{ width:100%; height:3px; border-bottom:1px solid #d1d3d4; margin-bottom:6px;}
.search{
		width:300px;
		height:auto;
		overflow:hidden;
		float:left;
	}
.copy{
	float:right; color:#808285; font-size:13px;
}
.search .searchText{
	font-family: UniversLTStd45LightRegular; /*'ExoRegular'*/
	color:#808285;
	padding-left:15px;
	width:125px;
	height:19px;
	border-right:0;
	vertical-align:top;
}
.search .searchSubmit{
	width:25px;
	height:23px;
	background:url(../images/search-button-bg.gif) left top no-repeat;
	border:0;
	outline:none;
	vertical-align:top;
}
div.rightCol img.clicknow{
	margin-left:75px;
	
}
footer{
	width:974px;
	margin:0 auto 50px;	
	text-align:center;
	color:#808285;
	font-size:12px;
	font-family: UniversLTStd45LightRegular; /*'ExoRegular'*/

}
footer .disabled:hover{
	text-decoration:none;
	cursor:default;
}
footer img.footerLogo{
	margin-bottom:35px;
}
footer p{
	margin:0 0 2px;
	font-size:12px;
	text-align:center;
}
footer a,
footer a:link,
footer a:visited{
	color:#808285;
	font-family: UniversLTStd45LightRegular; /*'ExoRegular'*/
	font-size:12px;
	padding:0 5px;
}
.bottomUlContainer{
	width:98%;
	height:260px;
	padding:10px;
	background:#f5f0dc;	
	display:block;
	margin-top:50px;
}
.bottomBox{
	width:200px; 
	height:auto;
	overflow:hidden;
	float:left;	
	}
.bottomBox h4{ margin-left:15px;}
.bottomBox ul{
 margin-top:10px;
 border-right:1px solid #d1d3d4;
 padding:0px 15px; 
 min-height:200px;	
	}
	.borderRight{ border-right:none!important;}
/* Press */
table.press td {
	border-bottom:1px solid #BCBEC0;
	padding:10px 0;
}
table.press a {
	color:#406678;
	font-weight:bold;
}
/* News */
.news {
	border-bottom:1px solid #BCBEC0;
	position:relative;
	padding-top:20px;
}
.news p {
	margin-top:0;
}
.news .left {
	float:left;
	width:380px;
}
.news .right {
	position:absolute;
	right:0;
	bottom:0;
}
.news .clear {
	height:0;
}
.news .buttons {
	float:left;
	text-align:center;
	padding:10px 0;
}
.news a.btn_more, .news a.btn_download {
	margin-right:5px;
	padding-top:2px;
	float:left;
	color:#FFF;
	display:block;
	font-family:'BonvenoCFLight';
	font-size:13px;
}
.news a.btn_more:hover, .news a.btn_download:hover {
	text-decoration:none;
}
.news a.btn_more {
	width:54px;
	height:27px;
	background:url(../images/btn-more.png) no-repeat;
}
.news a.btn_download {
	width:94px;
	height:27px;
	background:url(../images/btn-download.png) no-repeat;
}
.news span {
	font-size:13px;
	float:right;
	padding:10px 0;
}
#adminMenu {
	height:auto;
	margin:0 auto;
	position:relative;
	background:#333;
	padding:10px;
	font-weight:bold;
	min-width:974px;
}
#adminMenu ul {
	margin:0;
	padding:0;
	list-style:none;
}
#adminMenu li {
	float:left;
	margin-right:20px;
}
#adminMenu .leftCol {
	float:left;
	width:850px;
}
#adminMenu .rightCol {
	float:right;
}
section#homeBodyContent div.admin_col {
	width:100%;
	position:relative;
}
section#homeBodyContent div.admin_col .admin_link {
	position:absolute;
	top:0;
	right:0;
}
section#homeBodyContent div.rightCol p {
	text-align:center;
}
.buttons input,
.button input {
	padding:5px;
	background:#406678;
	color:#fff;
}
form .row {
	margin:10px 0;
}



/* Sim. Chinese */
#language_zh_cn nav a,
#language_zh_cn nav a:link,
#language_zh_cn nav a:visited,
#language_zh_cn .news a.btn_more, #language_zh_cn .news a.btn_download,
#language_zh_cn div.topLinks ,
#language_zh_cn section#homeBodyContent div.leftCol input.searchText,
#language_zh_cn .search .searchText,
#language_zh_cn footer a,
#language_zh_cn footer a:link,
#language_zh_cn footer a:visited{
	font-family:/*'Arial Unicode MS', */宋体, Simsun !important;
	
}
#language_zh_cn #login-form,
#language_zh_cn #adminMenu,
#language_zh_cn span,
#language_zh_cn footer a.sitemap,
#language_zh_cn .topLinks .en{
	font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif !important;
}

#language_zh_cn h1 span,
#language_zh_cn h2 span{
	font-family: 'BonvenoCFLight' !important;
}
table.management-team {
	width: 100%;
	margin-top:20px;
	
}
table.management-team td {
	vertical-align: top;
	text-align:justify;
}
table.management-team img {
	padding: 5px 0 0 20px;
	
}
table.safety-form{
}
table.safety-form td{
	padding:5px 0;
}
table.safety-form td.left{
	padding:5px 10px 5px 0;
	text-transform:uppercase;
	color:#406678;
	vertical-align:top;
}
table.safety-form td.left label{
	padding-left:0;
}
table.safety-form td.right {
	padding:5px 20px 5px 20px;
}
table.safety-form td.right input,
table.safety-form td.right textarea{
	padding:5px;
	border:0;
	width:300px;
}
table.safety-form td.right input{
	width:300px;
}
input[disabled]{
	background:#FAF8F2;
}

div.safety-intro{
	border-bottom:1px solid #BCBEC0;
	margin-bottom:20px;
}
.error{
	color:#ff415c;
}
#tabs .row input, #tabs .row textarea {
	border: 1px solid #D1D1D1;
}
.notice {
	margin: 10px;
}
.aircraft{
	margin-top:35px;
}
#sb-title {
	/*padding-bottom: 10px !important;*/
}
#sb-title-inner .fleft {
	float: left;
	font-size: 14px;
	color: #FFF;
	font-family: UniversLTStd45LightRegular, Arial, Helvetica, sans-serif;
}
#sb-title-inner .fright {
	float: right;
	font-size: 15px;
	text-transform: uppercase;
}
#sb-title-inner .fright a {
	color: #FFF;
	text-decoration: none;
	background: #406678;
	padding: 5px 10px;
	font-family: 'BonvenoCFLight';
}
#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message {
	font-family: UniversLTStd45LightRegular,Arial,Helvetica,sans-serif !important;  
}
#sb-title-inner {
    font-size: 14px !important;
}
#sb-title, #sb-title-inner{
	height: auto !important;
	line-height: normal !important;
}

#homeBodyContent .leftCol .slideShow #big{
	position:relative;
}
#homeBodyContent .leftCol .slideShow #big .caption{
    background: url("../images/50p_1280_bg.png") repeat scroll center bottom transparent;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    line-height: 20px;
    overflow: visible;
    position: absolute;
    right: 0;
    padding: 5px;
	right: -12px;
	bottom: 0 \9; /*IE8*/	
	*bottom: 5px; /*IE7*/
	_bottom: 350px; /*IE6*/
}